* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Colores */
:root {
  --color-principal: #2F8F9D;
  --link: #47B5FF;
  --link-hover: #1363DF;
  --link-visitado: #06283D;
  --fondo: #DFF6FF;
  --borrar: #ff0000;
  --letraBorrar: rgb(136, 0, 0);
}

body {
  background-color: var(--fondo);
  color: var(--color-principal);
  font-family: [Space Mono] "https://fonts.google.com/specimen/Space+Mono";
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 3rem;
  text-decoration-line: underline;
}

p {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

main {
  padding: 5rem 0rem;
  font-size: 2rem;
}

/* Borrar */
.borrar {
  background-color: var(--letraBorrar);
  color: var(--borrar);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 0rem 0.5rem;
}
.borrar:hover {
  background-color: var(--borrar);
  color: var(--letraBorrar);
}
/* Editar */
.editar {
  background-color: var(--link-visitado);
  color: var(--link);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 0rem 0.5rem;
}
.editar:hover {
  background-color: var(--link);
  color: var(--link-visitado);
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0% 25%;
  font-size: 1.5rem;
}

input {
  padding: 1rem;
  margin: 2rem 0rem;
}
#enviar {
  background-color: var(--link-visitado);
  color: var(--link);
  padding: 1rem;
  margin: 0% 25%;
  font-size: 1.5rem;
  border-radius: 1rem;
}
#enviar:hover {
  background-color: var(--link);
  color: var(--link-visitado);
}

/* Portales */
#portal {
  position: fixed;
  background-color: var(--link);
  color: var(--link-visitado);
  padding: 1rem;
  top: 2%;
  left: 2%;
  font-size: 1.5rem;
  border-radius: 1rem;
}
#portal:hover {
  background-color: var(--link-visitado);
  color: var(--link);
}

.portales {
  margin: 2rem 0rem;
}

/* Boton home */
#home {
  position: fixed;
  background-color: var(--link);
  color: var(--link-visitado);
  padding: 1rem;
  top: 2%;
  right: 2%;
  font-size: 1.5rem;
  border-radius: 1rem;
}
#home:hover {
  background-color: var(--link-visitado);
  color: var(--link);
}

/* Turnos */
.turno {
  margin: 1rem 0rem;
  padding: 1rem;
  font-size: 1rem;
}

/* Boton agregar */
#marginAgregar {
  margin-top: 2%;
}
.agregar {
  background-color: var(--link-visitado);
  color: var(--link);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}
.agregar:hover {
  background-color: var(--link);
  color: var(--link-visitado);
}

/* Main del home */
#mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main de odontologos */
#mainPortales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainPortales form {
    width: 75%
}

/* Actualizar */
#actualizar {
  background-color: var(--link-visitado);
  color: var(--link);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1rem 25%;
}
#actualizar:hover {
  background-color: var(--link);
  color: var(--link-visitado);
}
#volver {
  background-color: var(--link-visitado);
  color: var(--link);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1rem 25%;
}
#volver:hover {
  background-color: var(--link);
  color: var(--link-visitado);
}

li {
  margin: 1rem 0rem 0rem;
}

/* Pie de pagina */
footer {
  color: var(--color-principal);
  clear: both;
  text-align: center;
  font-size: 2rem;
}
footer a {
  color: var(--link);
}
footer a:visited {
  color: var(--link-visitado);
  }
footer a:hover {
  color: var(--link-hover);
}

/* Ocultar */
.hide {
  display: none;
}