* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  background-color: #DFF6FF;
  color: #2F8F9D;
  font-family: [Space Mono] "https://fonts.google.com/specimen/Space+Mono";
  font-weight: 700; }
  body h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration-line: underline; }
  body main {
    padding: 5rem;
    font-size: 2rem; }
    body main form {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin: 0% 25%;
      font-size: 1.5rem; }
      body main form p {
        text-align: center;
        margin: 1rem;
        font-size: 2rem; }
      body main form input {
        padding: 1rem;
        margin: 2rem 0rem; }
      body main form #enviar {
        background-color: #06283D;
        color: #47B5FF;
        padding: 1rem;
        margin: 0% 25%;
        font-size: 1.5rem;
        border-radius: 1rem; }
      body main form #enviar:hover {
        background-color: #47B5FF;
        color: #06283D; }
    body main #home {
      position: fixed;
      background-color: #47B5FF;
      color: #06283D;
      padding: 1rem;
      top: 2%;
      right: 2%;
      font-size: 1.5rem;
      border-radius: 1rem; }
    body main #home:hover {
      background-color: #06283D;
      color: #47B5FF; }
    body main .turno {
      margin: 1rem 0rem;
      padding: 1rem;
      font-size: 1rem; }
  body #home {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body #home .portales {
      padding: 2rem 0rem; }
  body footer {
    color: #2F8F9D;
    clear: both;
    text-align: center;
    font-size: 2rem; }
  body footer a {
    text-decoration: none;
    color: #47B5FF; }
  body footer a:visited {
    color: #06283D; }
  body footer a:hover {
    color: #1363DF; }
